@use './constants.scss'
as *;
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: $primaryFont;
  font-size: $primaryFontSize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: $primaryFont;
}

.title-font {
  line-height: 40px;
  font-weight: 400;
}

.f-48 {
  font-size: 48px;
}

.f-32 {
  font-size: 32px;
}

.f-24 {
  font-size: 24px;
}

.f-20 {
  font-size: 20px;
}

.f-16 {
  font-size: 16px;
}

.f-14 {
  font-size: 14px;
}

.f-12 {
  font-size: 12px;
}

// global classes
.cardCellPadding {
  padding: 0 12px;
}

.cursorPointer {
  cursor: pointer !important;
}

.cursorDisabled {
  cursor: not-allowed !important;
}

.sectionTitleHolder {
  h3 {
    font-size: 20px;
    margin: 0;
    padding-bottom: 3px;
  }

  p {
    margin: 0 0 12px;
  }
}

.fc {
  .fc-day-today {
    background-color: #dbeeff !important;
  }

  .fc-toolbar-title {
    font-size: 18px !important;
  }

  .fc-button-primary {
    padding: 6px 16px;
    font-size: $primaryFontSize;
    background-color: $primary !important;
    border: none !important;
    line-height: 1.75;
    border-radius: 4px;
    text-transform: uppercase !important;
  }

  .fc-button-group {
    button {
      background: $primary !important;
      border: none !important;
      margin: 0 2px !important;
      outline: none !important;
      box-shadow: none !important;
    }
  }
}

.MuiAlert-root {
  padding: 1px 16px !important;
}

.authorizedContainer {
  height: 100%;
  overflow: hidden;

  .sideNavigation {
    @include transition(ease all 0.4s);
    max-width: 280px;
    z-index: 999;

    &.collapsed {
      @include transition(ease all 0.4s);
      max-width: 50px;
    }

    .navBar {
      position: relative;
      background: $primary;
      background: linear-gradient(0deg,
          rgba(12,
            84,
            193,
            1) 0%,
          rgba(0,
            102,
            255,
            1) 100%);
      max-width: 50px;
      padding: 16px 4px;
      border-right: 1px solid #0f4da9;

      .menuBox {
        @include transition(ease all 0.4s);
        margin: 8px;
        cursor: pointer;

        .menuIcon {
          display: inline-block;
          width: 25px;
          cursor: pointer;

          span {
            @include transition(ease all 0.4s);
            position: relative;
            display: inline-block;
            width: 100%;
            height: 2px;
            margin: 9px 0;
            background: white;

            &::before {
              @include transition(ease all 0.4s);
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0;
              top: -9px;
              background: white;
            }

            &::after {
              @include transition(ease all 0.4s);
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0;
              top: 9px;
              background: white;
            }
          }
        }

        &:hover {
          @include transition(ease all 0.4s);

          .menuIcon {
            span {
              @include transition(ease all 0.4s);
              background: rgba(255,
                  255,
                  255,
                  0);

              &::before {
                @include transition(ease all 0.4s);
                width: 50%;
                transform: rotate(-45deg);
                top: -4px;
              }

              &::after {
                @include transition(ease all 0.4s);
                width: 50%;
                transform: rotate(45deg);
                top: 4px;
              }
            }
          }
        }

        &.collapsed {
          @include transition(ease all 0.4s);
          transform: rotate(-360deg);

          .menuIcon {
            span {
              background: rgba(255,
                  255,
                  255,
                  0);

              &::before {
                width: 60%;
                transform: rotate(45deg);
                top: -4px;
              }

              &::after {
                width: 60%;
                transform: rotate(-45deg);
                top: 6px;
              }
            }
          }
        }
      }

      .appLinkIconGroup {
        padding: 5px;
        margin-top: 51px;

        .appLinkIcon {
          padding: 2px;
          cursor: pointer;
          margin: 15px 0;
        }
      }

      .logo {
        padding: 0 7px;
        margin-bottom: 14px;
      }

      .profile {
        position: absolute;
        bottom: 16px;
        left: 0;
        padding: 9px;
        width: 100%;

        .infoCircle {
          background: white;
          color: $primary;
          font-size: 17px;
          width: 28px;
          height: 28px;
          border-radius: 50%;
          font-weight: 700;
        }

        .infoMenu {
          background: white;
          padding: 11px;
          position: absolute;
          left: 100%;
          bottom: 0;
          display: none;
          border-radius: 5px;
          border: 1px solid rgba(0,
              0,
              0,
              0.1);
          min-width: 240px;
          z-index: 9;

          .name {
            text-transform: uppercase;
            color: $gray;
            font-size: 14px;
            margin: 0;
          }

          .email {
            display: block;
            color: $gray;
            font-size: 14px;
            padding-bottom: 4px;
            border-bottom: 1px solid rgba(0,
                0,
                0,
                0.1);
            margin-bottom: 12px;
          }

          .switchRole {
            position: relative;
            display: inline-block;
            margin-right: -30px !important;

            a {
              min-width: 220px;
            }

            .switchRoleArrow {
              display: block;
              color: $gray;
              width: 25px;
              height: 25px;
              font-size: 20px;

              //  margin-left: 100px;
            }
          }

          .roleMenu {
            // overflow: hidden;
            background: white;
            padding: 11px;
            position: absolute;
            left: 100%;

            bottom: 5%;
            display: none;
            border-radius: 5px;
            border: 1px solid rgba(0,
                0,
                0,
                0.1);
            min-width: 200px;
            z-index: 9;

            .switchRoleDiv {
              padding: 5px 5px 5px 2px;
              border-bottom: 1px solid rgba(0,
                  0,
                  0,
                  0.1);
              // hide last border
            }

            .switchRoleDiv_last {
              padding: 5px 5px 5px 2px;
              border-bottom: none; // hide last border
            }
          }

          .switchRole:hover {
            .roleMenu {
              display: block;
              box-shadow: 2px 2px 7px rgba(0,
                  0,
                  0,
                  0.1);
              z-index: 99;
            }
          }

          a {
            @include transition(ease all 0.4s);
            text-decoration: none;
            display: block;
            padding: 7px 4px;

            &.signOut {
              color: $red;
              border-top: 1px solid rgba(0,
                  0,
                  0,
                  0.1);
            }

            &:hover {
              @include transition(ease all 0.4s);
              background: #f4f4f4;
            }
          }
        }

        &:hover {
          .infoMenu {
            display: block;
            box-shadow: 2px 2px 7px rgba(0,
                0,
                0,
                0.1);
            z-index: 99;
          }
        }
      }
    }

    .navBarContent {
      @include transition(ease all 0.4s);
      position: relative;
      background: #f4f4f4;
      border-right: 1px solid #cccccc;
      box-shadow: 3px 2px 10px rgba(0,
          0,
          0,
          0.1);
      padding: 16px;
      opacity: 1;
      max-width: 230px;

      &.collapsed {
        @include transition(ease all 0.4s);
        opacity: 0;
        overflow: hidden;
        max-width: 0;
        padding: 16px 0;
      }

      .contentGroup {
        .logo {
          padding: 14px 0 0;
          max-width: 100px;
        }

        h1 {
          margin: 2px 0 26px;
          color: #005792;
          font-size: 22px;
          white-space: nowrap;
          font-weight: 400;
          line-height: 1.5em;
        }

        .navLink {
          @include transition(ease all 0.4s);
          text-decoration: none;
          display: block;
          padding: 11px 0;
          border-bottom: 1px solid #cccccc;
          color: black;

          .MuiSvgIcon-root {
            margin-right: 7px;
            vertical-align: middle;
            color: $primary;
          }

          &:hover {
            @include transition(ease all 0.4s);
            background: rgba(0,
                0,
                0,
                0.03);
          }
        }

        .nested {
          background-color: rgb(250,
              250,
              250);
          padding: 0 0 0 10px;
        }
      }
    }
  }

  .content {
    padding: 15px;
    overflow: scroll;
  }
}

.rejectionNoteIcon {
  vertical-align: middle;
  color: #575757;
  cursor: pointer;
}

.statusChip {
  display: inline-block;
  padding: 0 4px;
  width: 60px;
  text-align: center;
  border-radius: 3px;
  font-size: 12px;
  margin-right: 4px;

  &.approved {
    border: 1px solid rgba(0,
        255,
        0,
        0.5);
    background: rgba(0,
        255,
        0,
        0.3);
  }

  &.applied {
    border: 1px solid #ffee4b;
    background: #fff6a5;
  }

  &.rejected {
    border: 1px solid #f8564a;
    background: #ffb4ae;
  }

  &.disabled {
    border: 1px solid #ababab;
    background: #e0e0e0;
  }

  &.pending {
    border: 1px solid orangered;
    background: orange;
  }
}

#addTimeTaskSelect {
  .MuiAutocomplete-popupIndicatorOpen {
    transform: none !important;
  }
}

.fc .fc-day-today {
  background-color: inherit !important;
  /* let your event color show */
}

.enabled {
  padding: 0px 5px;
  font-size: 12px;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid rgba(0, 255, 0, 0.5);
  background: rgba(0, 255, 0, 0.3);
}

.disabled {
  padding: 0px 4px;
  font-size: 12px;
  background: rgba(255, 0, 0, 0.3);
  border: 1px solid rgba(255, 0, 0, 0.5);
  border-radius: 3px;
  display: inline-block;
}
.pointer:hover{
  cursor: pointer;
  background-color: #f4f4f4;
}